# Ignore Google Cloud credentials
zoomcamp-456820-3b008153d0b0.json

# Ignore system and editor-specific files
*.log
*.bak
*.tmp
*.swp
.DS_Store
.bash_history

# Ignore Terraform state files (important for security)
*.tfstate
*.tfstate.backup

# Ignore Docker and VSCode-related files
.vscode/
.dockerignore
